body {
  background-color:#b0e0e6;
}

h1 {
    display:flex;
    justify-content:space-around;
    font-family: Georgia;
    color:#008b8b;
    font-size: 30px;
}

.button {
    display:flex;
    text-align:center;
    justify-content:center;
}

#start{
    font-size:30px;
    background-color: blue;
    font-family: Georgia;
    color: white;
    border-radius: 8px;
    
    
}
#timer {
    display: flex;
    color: #008b8b;
    font-size: 40px;
    width: 353px;
    
}

#questions {
    display: flex;
    justify-content:center;
    width:500px;
}

#choices {
    display: flex;
    justify-content: space-evenly;
    width: 281px;
    height: 228px;
    flex-direction: column;
    flex-wrap:wrap;
    align-content:stretch;
    
}

img {
    max-width: 55%;
}

#form {
    display: flex;
    justify-content:center;
}

#imgDisplay {
    display:flex;
    justify-content:center;
}

#choicesBox {
    display:flex;
    justify-content:center;
}

#timerBox {
    display:flex;
    justify-content:center;
}